.main__container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.column img {
    width: 28rem;
    margin: 0.5rem;
}